.modalID {
}

.container{
    margin-top: 70px;
}

h1{
    color: #CC0E00;
}

.btn {
    margin-bottom: 20px;
    background-color: #CC0E00;
    transition-duration: 0.4s;
}

.btn:hover {
  background-color: rgb(252, 160, 153);
  color: black;
}

.btn-secondary{
color: black;
background-color: grey;
}

.btn-secondary:hover{
color: black;
background-color: grey;
}

.btn-secondary:onclick{
color: black;
background-color: grey;
}