.modalID {
}


h1{
    color: #CC0E00;
    font-family: 'Pridi', Arial;
    font-size:5vw;
}

p{
    font-family: Arial, helvetica;
    color: black;
    font-size:1.2vw;
}

.stylez {
padding: 40px;
}

.btn {
    margin-bottom: 20px;
    background-color: #CC0E00;
    font-family: 'Pridi', Arial;
    transition-duration: 0.4s;
    font-size: 1.5vw;
    color: white;
}

.btn:hover {
     background-color: rgb(252, 160, 153);
     color: black;
     font-size: 1.5vw;
}

.btn-secondary{
    color: black;
    font-family: 'Pridi', Arial;
    background-color: grey;
    font-size: 1.5vw;
}

.btn-secondary:hover{
    color: black;
    background-color: grey;
    font-size: 1.5vw;
}

.modal-text {
    color: black;
}

.btn-secondary:disabled{
color: black;
background-color: grey;
font-size: 1.5vw;
}

