.column{
width: 600px;
margin: 40px auto;
text-align: center;
}

.card {
    background-color: #CC0E00;
    font-family: 'Pridi', Arial;
}

.card-header {
    background-color: #CC0E00;
    font-family: 'Pridi', Arial;
}

.card-body {
    background-color: #CC0E00;
    font-family: 'Pridi', Arial;
}

.form-control {

  border: 2px solid black;

 }

.form {
border-radius: 25px;
}

h1{
    color: #CC0E00;
    font-family: 'Pridi', Arial;
    font-size:5vw;
}

h4 {
    color: white;
    font-family: 'Pridi', Arial;
}

.btn {
     margin-bottom: 20px;
     background-color: #CC0E00;
     font-family: 'Pridi', Arial;
     font-size: 1.5vw;
     color: white;
 }

 .btn-delete {
     margin-bottom: 0px;
     background-color: #CC0E00;
     font-family: 'Pridi', Arial;
     font-size: 1.5vw;
     color: white;
 }