<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<!-- Button trigger modal -->
<ul>
<li th:each="slot : ${bookingList}">
<button type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#' + ${slot.slotID}" th:value="${slot.startTime}">
</button>

<!-- Modal -->
<div class="modal fade" th:id="${slot.slotID}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="'/booking/' + ${slot.slotID}" method="post">
                <input class="btn btn-primary mt-3" type="submit" value="Boka"/>
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
</li>
</ul>

<!--<ul>-->
<!--<li th:each="slot : ${bookingList}">-->
<!--<form th:action="'/booking/' + ${slot.slotID}" method="post">-->
<!--    <input class="btn btn-primary mt-3" type="submit" th:value="${slot.startTime}"/>-->
<!--</form>-->
<!--</li>-->
<!--</ul>-->

</body>
</html>