<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Pingiz - Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <h1><a href="#" class="logo">PingiZ</a></h1>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="#"><span class="fa fa-home mr-3"></span> Profil</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-user mr-3"></span> Boka bord</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-sticky-note mr-3"></span> Forum</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-sticky-note mr-3"></span> Log out</a>
            </li>

        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">

        <div class="container text-center" style="width: 500px">
            <h1 class="display-3">Edit profile</h1>
            <h2 class="">Username: [[${session.currentUser}]]</h2>

            <p class="">Current description: [[${session.userDescription}]]</p>

            <form action="/editProfile" method="POST">
                <div class="form-group">
                    <label for="description">New description</label>
                    <input th:field="${session.userDescription}" type="textarea"  name="description" id="description" class="" />
                    <br>
                    <label for="description">New password</label>
                    <input  type="password"  name="password" id="password" class="" />
                    <br>
                    <input class="btn btn-primary mt-3" type="submit"/>
                </div>
            </form>


        </div>

    </div>
</div>

<script src="jquery.min.js"></script>
<script src="popper.js"></script>
<script src="bootstrap.min.js"></script>
<script src="main.js"></script>

</body>
