<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Pingiz - Edit profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/LogoInverted.ico" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">

    <div th:replace="index :: sidebar" ></div>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">

        <div class="container text-center" style="width: 500px">
            <h1 class="display-3">Edit profile</h1>
            <h2 class="">Username: [[${session.currentUser}]]</h2>
            <img th:src="${session.user.fileURL}" class="img img-fluid">
            <p class="">Current description: [[${session.user.description}]]</p>
            <p class="mt-1">Academy class: [[${session.user.academyClass}]]</p>


            <form action="/editProfile" method="POST">
                <div class="form-group">
                    <label for="description">New description</label>
                    <input th:field="${session.userDescription}" type="textarea"  name="description" id="description" class="" />
                    <br>
                    <label for="academyClass">Academy class</label>
                    <input th:field="${session.academyClass}" type="textarea"  name="academyClass" id="academyClass" class="" />
                    <br>
                    <label for="imgFileURL">New profile picture url</label>
                    <input type="text"  name="imgFileURL" id="imgFileURL" class="" />
                    <br>
                    <label for="description">New password</label>
                    <input  type="password"  name="password" id="password" class="" />
                    <br>
                    <input class="btn btn-primary mt-3" type="submit"/>
                </div>
            </form>


        </div>

    </div>
</div>

<script src="jquery.min.js"></script>
<script src="popper.js"></script>
<script src="bootstrap.min.js"></script>
<script src="main.js"></script>

</body>
