<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Pingiz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="images/LogoInverted.ico" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="booking.css">

</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav th:fragment="sidebar" id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <h1><a href="/" class="logo">
                <img th:src="@{/images/logo2.jpg}"  class="brand_logo" alt="Logo" style="width:100%;">
            </a></h1>
            <ul class="list-unstyled components mb-5">

                <li class="">
                    <a href="/"><span class="fa fa-home mr-3"></span>Home</a>
                </li>

                <li class="">
                    <a href="/forDummies"><span class="fa fa-sticky-note mr-3"></span>For Dummies</a>
                </li>
                <li class="">
                    <a href="/editProfile"><span class="fa fa-user mr-3"></span>Edit Profile</a>
                </li>
                <li>
                    <a href="/booking"><span class="fa fa-sticky-note mr-3"></span> Book Pingiz table</a>
                </li>
                <li>
                    <a href="/forum"><span class="fa fa-sticky-note mr-3"></span>Forum</a>
                </li>
                <li>
                    <a href="/users"><span class="fa fa-user mr-3"></span>Users</a>
                </li>
                <li>
                    <a href="/logout"><span class="fa fa-sticky-note mr-3"></span>Log out</a>
                </li>

            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5 mt-5 w-75 text-center">
            <div class="row">
                <div class="col-4">
                    <img th:src="${session.user.fileURL}" class="img img-fluid">
                </div>
                <div class="col-6">
                    <h1 class="m-2"> [[${session.currentUser}]]</h1>
                    <p class=""> [[${session.user.description}]]</p>
                    <p class="mt-1">Academy class: [[${session.user.academyClass}]]</p>

                </div>
            </div>

            <div class="m-3 pt-2">
                <div th:if="${bookedSlots.size() > 0 }">

                    <h3>
                        Your booked times are:
                    </h3>


                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Time slot</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="slot : ${bookedSlots}">
                            <th scope="row">[[${slot.date}]]</th>
                            <td> [[${slot.startTime}]]-[[${slot.endTime}]]</td>
                            <td>
                                <a class="btn" th:href="${'/booking/cancel/'+ slot.slotID}">Cancel</a>
                            </td>

                        </tr>

                        </tbody>
                    </table>
                    <a class="btn" href="/booking">Book here</a>
                </div>

                <div th:if="${bookedSlots.size()== 0 }">

                    <h3>
                        You have no booked time slots.
                    </h3>
                    <a class="btn" href="/booking">Book here</a>

                </div>
            </div>

        </div>
    </div>

    <script src="jquery.min.js"></script>
    <script src="popper.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="main.js"></script>

</body>
</html>