<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Pingiz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pridi&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="mystyle.css">

</head>
<body>

<div class="container text-center">
    <div class="top-filler"></div>

    <div class="row">
        <div class="col-6"></div>
        <div class="col-3"></div>

        <div class="col-3">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img th:src="@{/images/logo2.jpg}"  class="brand_logo" alt="Logo">
                    </div>
                </div>
                <h2 class="masthead">Register</h2>
                <div class="d-flex justify-content-center form_container2">
                    <br>
                    <form action="/register" method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="username" id="username" class="form-control input_user" value="" placeholder="username">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password" id="password" class="form-control input_pass" value="" placeholder="password">
                        </div>

                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn login_btn" type="submit" text="Register"/>
<!--                            <button type="button" name="button" class="btn ">Login</button>-->
                        </div>
                    </form>
                </div>

                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        Already have an account? <a href="\login" class="ml-2">Log in</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

<!--    <div class="row">-->
<!--        <div class="masthead">-->
<!--            <h1 class="display-3">Log in</h1>-->


<!--            <form action="/login" method="POST">-->
<!--                <div class="form-group">-->
<!--                    <label for="username">Username</label>-->
<!--                    <input type="text"  name="username"  class="" />-->
<!--                    <br>-->
<!--                    <label for="password">Password</label>-->
<!--                    <input type="password"  name="password" class="" />-->
<!--                    <br>-->
<!--                    <input class="btn btn-primary mt-3" type="submit"/>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->

</div>



</body>
</html>