<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Pingiz - Matches</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/LogoInverted.ico" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pridi&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="users.css">

</head>
<body>

<div class="wrapper d-flex align-items-stretch">

    <div th:replace="index :: sidebar" ></div>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5 mt-5 w-75 text-center">


            <div class="m-3 pt-2">


                    <h3>
                        Matches
                    </h3>


                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Team 1</th>
                            <th scope="col">Team 2</th>
                            <th scope="col">Result</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="match : ${matches}">
                            <th scope="row">[[${match.timeString}]]</th>
                            <td>
                                <span th:each="user : ${match.team1}">[[${user.username}]] </span>
                            </td>
                            <td>
                                <span th:each="user : ${match.team2}">[[${user.username}]] </span>
                            </td>
                            <td> [[${match.team1score}]] - [[${match.team2score}]]</td>

                        </tr>

                        </tbody>
                    </table>
                </div>




        </div>


    </div>
</div>

<script src="jquery.min.js"></script>
<script src="popper.js"></script>
<script src="bootstrap.min.js"></script>
<script src="main.js"></script>

</body>
