<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Pingiz - Matches</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/LogoInverted.ico" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pridi&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="users.css">
    <link rel="stylesheet" href="editStyle.css">


</head>
<body>

<div class="wrapper d-flex align-items-stretch">

    <div th:replace="index :: sidebar" ></div>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-2 mt-5 w-75 text-center">


        <div class="m-3 mb-5">
            <h1>
                Matches
            </h1>


            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Time</th>
                        <th scope="col">Team 1</th>
                        <th scope="col">Team 2</th>
                        <th scope="col">Result</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="match : ${matches}">
                    <th scope="row">[[${match.timeString}]]</th>
                    <td>
                        <span th:each="user : ${match.team1}">[[${user.username}]] </span>
                    </td>
                    <td>
                        <span th:each="user : ${match.team2}">[[${user.username}]] </span>
                    </td>
                    <td> [[${match.team1score}]] - [[${match.team2score}]]</td>

                </tr>

                </tbody>
            </table>
        </div>


    <div class="m-2">
        <h1 class="mt-3">Register match</h1>
        <form action="/matches" method="POST">
            <div class="form-group">

                <div class="row mt-3">
                    <div class="col-3">
                        <label for="player1">Player 1</label>
                    </div>
                    <div class="col-3">
                        <select  name="player1" id="player1" class="form-control">
                            <option>Select one...</option>
                            <option th:each="u : ${users}" th:text="${u.username}"></option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="player2">Player 2</label>
                    </div>
                    <div class="col-3">
                        <select  name="player2" id="player2" class="form-control">
                            <option>Select one...</option>
                            <option th:each="u : ${users}" th:text="${u.username}"></option>
                        </select>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-3">
                        <label for="player1points">Sets</label>
                    </div>
                    <div class="col-3">
                        <input type="number" name="player1points" id="player1points" class="form-control"/>
                    </div>
                    <div class="col-3">
                        <label for="player2points">Sets</label>
                    </div>
                    <div class="col-3">
                        <input type="number" name="player2points" id="player2points" class="form-control"/>
                    </div>
                </div>


                <input class="btn btn-primary mt-3" type="submit"/>
            </div>
        </form>

    </div>
    </div>

</div>

<script src="jquery.min.js"></script>
<script src="popper.js"></script>
<script src="bootstrap.min.js"></script>
<script src="main.js"></script>

</body>
