<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Pingiz - Edit profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/LogoInverted.ico" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">

    <div th:replace="index :: sidebar" ></div>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">

        <div class="container text-center" style="width: 500px">
            <h1 class="display-4">Registered users: </h1>



            <div class="list-group">
                <a th:each="user : ${users}" href="#" class="list-group-item list-group-item-action flex-column align-items-start active m-1">

                    <div class="row">
                        <div class="col-3">
                            <img th:src="${user.fileURL}" class="img-fluid img-thumbnail " />
                        </div>
                        <div class="col-6">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">[[${user.username}]]</h5>
                            </div>

                            <p class="mb-1">[[${user.description}]]</p>
                            <small>Academy class: [[${user.academyClass}]] </small>
                        </div>
                    </div>


                </a>
            </div>


        </div>

    </div>
</div>

<script src="jquery.min.js"></script>
<script src="popper.js"></script>
<script src="bootstrap.min.js"></script>
<script src="main.js"></script>

</body>
